.benefits {
  margin-bottom: 3rem;
}

.benefits__list {
  margin-top: 4rem;
  border: 3px solid var(--gray-light-01);
}

.benefits__list__benefit-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  height: 150px;

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    border-bottom: 3px solid var(--gray-light-01);
  }
}

.benefits__list__benefit-item__title {
  color: var(--orange);
  font-size: 15px;
}

.benefits__list__benefit-item__description {
  color: var(--gray);
  font-size: 12px;
}
