.footer {
  margin-top: 80px;
}

.footer__images {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer__image {
  width: 130px;
}

.footer__copyright {
  margin: 1.2rem 0 2rem 0;
  text-align: center;
  color: var(--gray-light-02);
}
