.hero {
  position: relative;
  background-position: 35%;
  background-size: cover;
  max-height: 100vh;
  height: 100vh;
  background-image: URL("/assets/images/hero/hero.png");
  background-repeat: no-repeat;
  padding-top: 48px;
  color: var(--white);
}

.hero__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 1rem;
  text-align: center;
}

.hero__title {
  font-size: 42px;
  font-weight: 600;
}

.hero__subtitle {
  font-size: 24px;
  margin: 1.2rem 0 3rem 0;
  font-weight: lighter;
}

.hero__button {
  border: none;
  width: 188px;
  height: 52px;
  color: var(--white);
  font-size: 22px;
  background-color: var(--blue-light-01);
}

.hero__image {
  width: 130px;
  position: absolute;
  bottom: 2rem;
}
