.hero {
  position: relative;
  background-position: 35%;
  background-size: cover;
  max-height: 100vh;
  height: 100vh;
  background-image: URL("/assets/images/hero/hero.png");
  background-repeat: no-repeat;
  padding-top: 48px;
  color: var(--white);
}

.hero__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  row-gap: 1rem;
}

.hero__container__title {
  font-size: 42px;
  font-weight: 600;
}

.hero__container__subtitle {
  font-size: 24px;
  margin: 1.2rem 0 3rem 0;
  font-weight: lighter;
}

.hero__container__button {
  border: none;
  width: 188px;
  height: 52px;
  color: var(--white);
  font-size: 22px;
  background-color: var(--blue-light-01);
}

.hero__container__images {
  width: 100%;
  display: flex;
  justify-content: center;
}

#hero__container__images__arrow-down {
  display: none;
}

#hero__container__images__logo {
  width: 130px;
  position: absolute;
  bottom: 2rem;
}

@media (min-width: 400px) {
  .hero__container {
    padding: 0 2rem;
  }
}

@media (min-width: 768px) {
  .hero__container {
    align-items: start;
    row-gap: 0;
    padding: 0 4rem;
  }

  .hero__container__title {
    /* todo 80px */
    font-size: 60px;
  }

  .hero__container__subtitle {
    /* todo - 32px */
    font-size: 28px;
    margin: 24px 0 96px 0;
  }

  .hero__container__button {
    border: none;
    width: 188px;
    height: 52px;
    color: var(--white);
    font-size: 22px;
    background-color: var(--blue-light-01);
  }

  .hero__container__images {
    justify-content: space-between;
  }

  #hero__container__images__arrow-down {
    display: block;
    position: absolute;
    bottom: 2rem;
  }

  #hero__container__images__logo {
    right: 4rem;
  }
}
