.integrity {
  margin-top: 4rem;
}

.integrity__list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.integrity__list__integrity-item {
  display: flex;
  padding: 1.2rem 0;

  &:nth-child(1),
  &:nth-child(2) {
    border-bottom: 3px solid var(--gray-light-01);
  }

  &:nth-child(1) {
    & .integrity__list__integrity-item__content__title {
      color: var(--green-light);
    }

    & .integrity__list__integrity-item__content__button {
      color: var(--green-light);
      border-color: var(--green-light);
    }
  }

  &:nth-child(2) {
    & .integrity__list__integrity-item__content__title {
      color: var(--blue-light-01);
    }

    & .integrity__list__integrity-item__content__button {
      color: var(--blue-light-01);
      border-color: var(--blue-light-01);
    }
  }

  &:nth-child(3) {
    & .integrity__list__integrity-item__content__title {
      color: var(--yellow);
    }

    & .integrity__list__integrity-item__content__button {
      color: var(--yellow);
      border-color: var(--yellow);
    }
  }
}

.integrity__list__integrity-item__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.integrity__list__integrity-item__content__title {
  font-size: 18px;
  font-weight: 600;
}

.integrity__list__integrity-item__content__description {
  font-size: 12px;
  color: var(--gray);
}

.integrity__list__integrity-item__content__button {
  background-color: var(--white);
  width: 82px;
  height: 30px;
  border: 1px solid;
  font-size: 12px;
}
