.header {
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 48px;
  background-color: var(--blue-regular-01);
}

.header__img {
  display: none;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.2rem;
}

.header__nav__mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.header__nav__mobile-menu__bar {
  display: block;
  width: 24px;
  height: 2px;
  background-color: var(--white);
}

.header__nav__list {
  display: none;
  list-style: none;
}

.header__nav__list__item {
  color: var(--white);

  &::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--white);
    transition: width 0.7s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    &::after {
      width: 100%;
    }
  }
}

.header__nav__button {
  width: 112px;
  height: 28px;
  border: none;
  color: var(--white);
  background-color: var(--blue-darker);
}

@media (min-width: 425px) {
  .header__nav {
    padding: 0 3rem;
  }
}

@media (min-width: 768px) {
  .header__nav {
    padding: 0 4rem;
  }
}

@media (min-width: 992px) {
  .header__nav__mobile-menu {
    display: none;
  }

  .header {
    height: 60px;
    padding: 0 4rem;
  }

  .header__img {
    display: block;
    width: 120px;
  }

  .header__nav {
    justify-content: right;
    gap: 6rem;
    padding: 0;
  }

  .header__nav__list {
    display: flex;
    gap: 3rem;
  }

  .header__nav__button {
    width: 138px;
    height: 38px;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .header__nav {
    gap: 8rem;
  }

  .header__nav__list {
    gap: 4rem;
  }
}

@media (min-width: 1400px) {
  .header {
    padding: 0 8rem;
  }
}
