.header {
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: var(--blue-regular-01);
}
/* TODO REMOVIDO HEADER__CONTAINER */
.header__img {
  display: none;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}

.nav__mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.mobile-menu__bar {
  display: block;
  width: 24px;
  height: 2px;
  background-color: var(--white);
}

.nav__list {
  display: none;
  list-style: none;
}

.nav__item {
  color: var(--white);
}

.nav__button {
  width: 112px;
  height: 28px;
  border: none;
  color: var(--white);
  background-color: var(--blue-darker);
}
