/* .objectives {
} */

.objectives__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}

.objectives__title {
  font-size: 24px;
}

.objectives__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1.5rem 0;
}

.list__objective-card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--white);

  &:nth-child(1) {
    background-color: var(--blue-regular-02);
  }

  &:nth-child(2) {
    background-color: var(--blue-regular-03);
  }

  &:nth-child(3) {
    background-color: var(--green-dark);
  }

  &:nth-child(4) {
    background-color: var(--orange-dark);
  }

  &:nth-child(5) {
    background-color: var(--purple);
  }

  &:nth-child(6) {
    background-color: var(--blue-light-01);
  }

  &:nth-child(7) {
    background-color: var(--blue-dark);
  }
  &:nth-child(8) {
    background-color: var(--blue-regular-04);
  }
  &:nth-child(9) {
    background-color: var(--cyan);
  }
  &:nth-child(10) {
    background-color: var(--lilac);
  }

  &:nth-child(7),
  &:nth-child(8),
  &:nth-child(9),
  &:nth-child(10) {
    display: none;
  }
}

.objective-card__title {
  font-size: 18px;
}

.objective-card__description {
  font-size: 12px;
}
