@import url("/css/navbar.css");
@import url("/css/hero.css");
@import url("/css/about.css");
@import url("/css/objectives.css");
@import url("/css/integrity.css");
@import url("/css/benefits.css");
@import url("/css/subscribe.css");
@import url("/css/footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --white: #ffffff;
  --black: #2d2d2d;

  --gray: #737373;
  --gray-light-01: #dedede;
  --gray-light-02: #b4b4b4;
  --gray-light-03: #e6e6e6;

  --blue-light-01: #00a4ef;
  --blue-light-02: #00aff0;
  --blue-regular-01: #2571b7;
  --blue-regular-02: #0072c6;
  --blue-regular-03: #2c5898;
  --blue-regular-04: #0073c6;
  --blue-dark: #094ab2;
  --blue-darker: #002050;

  --green-light: #7fba00;
  --green-dark: #207245;

  --yellow: #ffb900;

  --orange-dark: #cb4a32;
  --orange: #f25022;

  --cyan: #0093be;

  --lilac: #5558af;
  --purple: #733781;
  --purple-dark: #74156a;
}

html {
  background-color: var(--gray-light-01);
  padding: 0;
  margin: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--white);
}

.section {
  margin: 2rem 1.2rem;
}

p {
  font-size: 15px;
}

.section-header {
  display: flex;
  flex-direction: column;
  text-align: center;

  & h2 {
    color: var(--blue-regular-01);
    font-weight: 600;
  }

  & p {
    color: var(--gray);
  }
}

button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

@media (min-width: 425px) {
  .section {
    margin: 2rem 3rem;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
  }

  .section {
    margin: 3rem 4rem;
  }

  .section-header h2 {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 20px;
  }
}

@media (min-width: 1400px) {
  .section {
    margin: 3rem 8rem;
  }
}
