.subscribe__banner {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  background-image: url("/assets/images/subscribe/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1.2rem;
}

.subscribe__banner__title {
  color: var(--white);
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.subscribe__container__description {
  color: var(--gray);
  text-align: center;
}

.subscribe__container__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.8rem;
  background-color: var(--gray-light-03);
  padding: 1rem;
}

.subscribe__container__form__field {
  display: flex;
  flex-direction: column;
}

.subscribe__container__form__label {
  color: var(--gray);
  font-size: 12px;
}

.subscribe__container__form__input {
  margin-top: 6px;
  height: 44px;
  padding-left: 1rem;
  outline: none;
  border: none;
  color: var(--black);
  font-size: 15px;
}

.subscribe__container__form__input::placeholder {
  font-size: 15px;
  color: var(--gray);
}

.subscribe__container__form__input--focus {
  border: 2px solid var(--blue-regular-01);
}

.subscribe__container__form__label--focus {
  color: var(--blue-regular-01);
}

.subscribe__container__form__button {
  margin: 12px 0 2px 0;
  background-color: var(--blue-light-01);
  color: var(--white);
  border: none;
  font-size: 21px;
  height: 52px;
}

@media (min-width: 425px) {
  .subscribe__banner {
    padding: 3rem;
  }

  .subscribe__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscribe__container__form {
    width: 325px;
  }
}

@media (min-width: 768px) {
  .subscribe__banner {
    padding: 4rem;
  }

  .subscribe__banner__title {
    font-size: 28px;
  }

  .subscribe__container__form {
    padding: 2rem 3rem 3rem 3rem;
    width: 425px;
  }

  .subscribe__container__form__input {
    font-size: 18px;
  }

  .subscribe__container__form__input::placeholder {
    font-size: 18px;
  }

  .subscribe__container__form__label {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .subscribe__banner {
    margin: 6rem 0;
  }

  .subscribe__banner__title {
    font-size: 32px;
  }

  .subscribe__container__form {
    width: 565px;
    margin-top: 2.5rem;
  }

  .subscribe__container__form__input {
    font-size: 20px;
  }

  .subscribe__container__form__input::placeholder {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .subscribe__container__form {
    margin-top: 3rem;
  }

  .subscribe__banner__title {
    font-size: 36px;
  }

  .subscribe__container__description {
    font-size: 24px;
  }
}

@media (min-width: 1400px) {
  .subscribe__banner {
    padding: 5rem 8rem;
  }

  .subscribe__banner__title {
    font-size: 48px;
  }
}
